<template name="home">
	<div id="gifmodigem" >
        {{>imagenes}}
    </div>
    <div id="formulario">
        {{>signUpForm}}
        {{#if ayudante2 true}}
            <a>{{>Ghost}}</a>
        {{else}}
            <a>{{>goToPanelBut}}</a>
        {{/if}}
    </div>
    <div class="main2">
        <br><br><br><br><br><br>
        {{>actualLandingText}}
        <br><br>
        <strong>ESTAS SON LAS PIEZAS AÑADIDAS A NUESTRA COLECCION</strong>
        <br><br>
        {{>showPiecesHome}}
    </div>
</template>