<template name="showPiecesHome">
<div id="showCollectionsHome">
        <table> 
        {{#each pieces}}
                <td>
                        <tr>
                {{#with FS.GetFile "images" imagenID}}
                        <img class="imagenesHome" src="{{url}}">
            {{/with}}
                        </tr>
                        <tr><center><strong>Titulo:&nbsp;&nbsp;</strong>{{titulo}}</center></tr>
            </td>                       
        {{/each}}
        </table>
</div>
</template>
