<template name="addRole">
    <form id="addRole-form" action="action">
        <label>
		    <strong>Agregar un nuevo rol de usuario</strong>
		</label>
        <ul>
            <li class="vertical">
			    <input name="nameC" id="name" type="text" value="" placeholder="IdentificadorProgramación"/>
			</li>
            <li class="vertical">
			    <input name="nameSpa" id="name" type="text" value="" placeholder="Etiqueta en español"/>
			</li>
        </ul>
        <input type="submit" id="login-button" value="Agregar nuevo rol" />
    </form>
    <br>
    <strong>____________________</strong>
</template>
