<template name="addAdmin">
    <form id="addAdmin-form" action="action">
        <label><strong>Asigna un rol a un usuario</strong></label>
        <ul>
            <li class="vertical"><input name="name" id="name" type="text" value="" placeholder="nombre de usuario"/></li>
            <li class="vertical"> 
                <select name="rol">
                    <option value="1">Administrador</option>
                    <option value="2">Usuario regular</option>
                </select>
            </li>
        </ul>
        <input type="submit" id="login-button" value="Asignar rol" />
    </form>
    <br>
    <strong>____________________</strong>
</template>
