<template name="addRole">
<form id="addRole-form" action="action">
<label><strong>Agrega un nuevo rol de usuario</strong></label>
    <ul>
          <li class="vertical"><input name="nameC" id="name" type="text" value="" placeholder="EN INGLES"/></li>
          <li class="vertical"><input name="nameSpa" id="name" type="text" value="" placeholder="en español"/></li>
        </ul>
      <input type="submit" id="login-button" value="Asignar rol" />
</form>
<br>
<strong>____________________</strong>
</template>
