<template name="subir">
    <div class="col-md-10">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Cargar Imagen</h3>
            </div>
            <div class="panel-body">
                <p>
                    Añadir Imagen
                    <span class="btn btn-default btn-file" size="50">
                        <input multiple class="file fileInput" type="file"/>
                    </span>
                </p>
            </div>
        </div>
    </div>
</template>
