<template name="signUpForm">
<h1><strong>¿Quieres ser miembro?</strong>Registrate!</h1>
<form id="login-form" action="action">
      <center>
    <ul>
	  <li class="vertical"><input name="email" id="email" type="email" value="" placeholder="email"/></li>
	  <li class="vertical"><input name="name" id="name" type="text" value="" placeholder="nombre de usuario"/></li>
	  <li class="vertical"><input name="password" id="password" type="password" value="" placeholder="password"/></li>
	</ul>
      <input type="submit" id="login-button" value="Sign in" />
     </center>
   </form>
</template>