<template name="informacionAll">
        <strong>Todos los usuarios registrados</strong>
        <hr>
        <table>
        {{#each Iam}}
                <tr>
                        <tr><strong>Nombre:&nbsp;&nbsp;</strong>{{nombre}}</tr>
                        <tr><strong>Correo:&nbsp;&nbsp;</strong>{{email}}</tr>
                        <tr><strong>Username:&nbsp;&nbsp;</strong>{{username}}</tr>
                        <tr><strong>Edad:&nbsp;&nbsp;</strong>{{edad}}</tr>
                        <tr><strong>Direccion:&nbsp;&nbsp;</strong>{{direccion}}</tr>
                        <tr><strong>Profesion:&nbsp;&nbsp;</strong>{{profesion}}</tr>
                        <tr><strong>Bio:&nbsp;&nbsp;</strong>{{about}}</tr>
                        <hr>
                </tr>           
        {{/each}}
        </table>
</template>
