<template name="formulario2">
	
	<form action="#" method="post">
	<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle"
          data-toggle="dropdown">
    Tipo de Usuario <span class="caret"></span>
  </button>
		<ul class="dropdown-menu" role="menu">
    <li><a href="#">User</a></li>
    <li><a href="#">Collector</a></li>
    <li><a href="#">Author</a></li>
	<li><a href="#">Entidad</a></li>
	<li><a href="#">Publicista</a></li>
		</ul>
	</div>
	
	</form>
</template>