<template name="layout">
	<body>
		<header>
			<div>
				<div>
					<a id="titulo" href="/">modigem</a>
				</div>
				<div id="orden">
					{{#if ayudante true}}
						{{>loginForm}}
					{{else}}
						{{>currentuser}}
					{{/if}}
				</div>
			</div>
		</header>
		<div id="padre" style="margin-top:100px">
			<!-- inicio del contenido central -->
			{{> yield}}
			<!-- fin del contenido central -->
		</div>

		<footer>
			<h4>  todos los derechos reservados </h4>
		</footer>
	</body>
</template>
