<template name="manageUsers">
	Crea tu Propio Usuario:
	<form id="newUsers" name="newUsers" class="newUsers">
		<input type="text" name="usersname" value="" placeholder="Ingrese su Usuario" />
		<input type="password" name="password" value="" placeholder="Ingrese su Contraseña" />
		<input type="text" name="nombre" value="" placeholder="Nombre" />
		<input type="text" name="apellido" value="" placeholder="Apellido" />
		<input type="submit" name="createUsers" value="Nuevos Usuarios" />
	</form>
	<div id="show" name="show" class="show">
		Mostrando usuarios:
		<ul>
		{{#each usersList}}
			<li>Hay un usuario con id {{this._id}}</li>
		{{/each}}
		</ul>
	</div>
</template>