<template name="formEditorLoading">
	Cargando información de la base de datos.
</template>

<template name="formEditor">
	<h1>Editor de formularios</h1>

	Las opciones del formulario de colecciones por museo hacen uso de los
	<a href="/serviceRequestQueryTypeCreate">tipos de respuesta</a>.

	Cada formulario tiene un identificador _id en la base de datos MongoDB.
	Para seleccionar un formulario, se especifica el identificador en una
	variable de sesión que se debe llamar formId, usando el llamado
	Session.set("formId", "[ID]");. En esta página se tienen algunos 
	identificadores de ejemplo para probar el acceso al módulo de editor
	de formularios.

	<ul>
		<li>Editar el formulario con identificador 
			<a id="setFormId" data-id="606160e557f40f54b2921f5f" href="/serviceRequestFormCreateEdit">0</a>
		</li>
	</ul>
</template>
