<!--Estos son los formularios que faltan por poner en la plantilla-->
<template name="formularioPieza2">
	<div id="formulariosdePiezas">
	<form>
	<div>
		<label>Tipo de medio audiovisual</label>
		<div>
		 <input name="audio" id="audio" type="text" value="" placeholder="Cual es el medio?"/>
		</div>
	</div>
	<div>
		<label>Ubicacion actual en el museo</label>
		<div>
		 <input name="ubic" id="ubic" type="text" value="" placeholder="Describa la ubicacion"/>
		</div>
	</div>
	<div>
		<label>Estado de conservacion</label>
		<div>
		 <input name="conserv" id="conserv" type="text" value="" placeholder="Bueno o malo?"/>
		</div>
	</div>
	</form>
	</div>
</template>