<template name="formularioPieza1">
	<div id="formulariosdePiezas">
	<form>
	<div>
		<label>Titulo de pieza</label>
		<div>
		 <input name="nombrepieza" id="nombrepieza" type="text" value="" placeholder="Ingrese el titulo"/>
		</div>
	</div>
	<div>
		<label>Categoria (Historia,etno,etc.)</label>
		<div>
		 <input name="cat" id="cat" type="text" value="" placeholder="Ingrese cat"/>
		</div>
	</div>
	<div>
		<label>Natural o cultural?</label>
		<div>
		 <input name="natocult" id="natocult" type="text" value="" placeholder="Nat o cult?"/>
		</div>
	</div>
	<div>
		<label>Material o Inmaterial?</label>
		<div>
		 <input name="matoinmat" id="matoinmat" type="text" value="" placeholder="Mat o inmat?"/>
		</div>
	</div>
	<div>
		<label>Es un patrimonio cientifico?</label>
		<div>
		 <input name="patcient" id="patcient" type="text" value="" placeholder="Si o no?"/>
		</div>
	</div>
	<div>
		<label>Ingrese las dimensiones</label>
		<div>
		 <input name="anchodim" id="anchodim" type="number" value="" placeholder="Ancho"/>
		 <br>
		 <input name="largodim" id="largodim" type="number" value="" placeholder="Largo"/>
		 <br>
		 <input name="altodim" id="altodim" type="number" value="" placeholder="Alto"/>
		 <br>
		</div>
	</div>
	<div>
		<label>Entre que anos pudo haberse hecho?</label>
		<div>
		 <input name="anodesd" id="anodesd" type="number" value="" placeholder="Entre el ano"/>
		 <br>
		 <input name="anohasta" id="anohasta" type="number" value="" placeholder="Hasta el ano"/>
		 <br>
		</div>
	</div>
	<div>
		<label>Que tecnica se uso?</label>
		<div>
		 <input name="tecnica" id="tecnica" type="text" value="" placeholder="Escultura, pintura, arquitectura?"/>
		</div>
	</div>
		<center><input type="submit" value="Agregar datos de pieza"/></center>
	</form>
	</div>
</template>