<template name="previewPiece">
<div id="base">
	<table>
	
			<tr><strong>Titulo:&nbsp;&nbsp;</strong>{{piece.titulo}}</tr>
	</table>
	<table>
			<td>
			{{#each uploads}}	
						<img id="ficha" src="{{url store='images'}}">
				{{/each}}
			</td>	
	</table>
	<table>
	<tr>
			<td class="mitad"><strong>Categoria:&nbsp;&nbsp;</strong>{{piece.categoria}}</td>
			<td class="mitad"><strong>Natural o cultural:&nbsp;&nbsp;</strong>{{piece.natOcult}}</td>
	</tr>
	</table>
	<table>
	<tr>
			<td class="tercio"><strong>Material o inmaterial:&nbsp;&nbsp;</strong>{{piece.matOinmat}}</td>
			<td class="tercio"><strong>Dimensiones:&nbsp;&nbsp;</strong>{{piece.ancho}}&nbsp;x&nbsp;{{piece.largo}}&nbsp;x&nbsp;{{piece.alto}}</td>
			<td class="tercio"><strong>Elaborado entre:&nbsp;&nbsp;</strong>{{piece.desdeAno}}&nbsp;y&nbsp;{{piece.hastaAno}}</td>
	</tr>
	</table>
	<table>
	<tr>
			<td class="tercio"><strong>¿Es un patrimonio científico?&nbsp;&nbsp;</strong>{{piece.patCientifico}}</td>
			<td class="tercio"><strong>Tecnica usada:&nbsp;&nbsp;</strong>{{piece.tecnicaUsada}}</td>
			<td class="tercio"><strong>Medio usado:&nbsp;&nbsp;</strong>{{piece.medioUsado}}</td>
	</tr>
	</table>
	<table>
	<tr>
			<td class="mitad"><strong>Ubicacion actual:&nbsp;&nbsp;</strong>{{piece.ubicacionMuseo}}</td>
			<td class="mitad"><strong>Estado de conservacion:&nbsp;&nbsp;</strong>{{piece.conserv}}</td>
	</tr>
	</table>
	<table>
	<tr>
			<strong>Imagen disponible en:&nbsp;&nbsp;</strong>{{piece.imagen}}
	</tr>		
	</table>
</div>
</template>
