<template name="previewPiece">
<div id="izquierdaPreview">
	<table>
		<td>
			<tr><strong>Titulo:&nbsp;&nbsp;</strong>{{piece.titulo}}</tr>
			<tr><strong>Categoria:&nbsp;&nbsp;</strong>{{piece.categoria}}</tr>
			<tr><strong>Natural o cultural:&nbsp;&nbsp;</strong>{{piece.natOcult}}</tr>
			<tr><strong>Material o inmaterial:&nbsp;&nbsp;</strong>{{piece.matOinmat}}</tr>
			<tr><strong>¿Es un patrimonio científico?&nbsp;&nbsp;</strong>{{piece.patCientifico}}</tr>
			<tr><strong>Dimensiones:&nbsp;&nbsp;</strong>{{piece.ancho}}&nbsp;x&nbsp;{{piece.largo}}&nbsp;x&nbsp;{{piece.alto}}</tr>
			<tr><strong>Elaborado entre:&nbsp;&nbsp;</strong>{{piece.desdeAno}}&nbsp;y&nbsp;{{piece.hastaAno}}</tr>
			<tr><strong>Tecnica usada:&nbsp;&nbsp;</strong>{{piece.tecnicaUsada}}</tr>
			<tr><strong>Medio usado:&nbsp;&nbsp;</strong>{{piece.medioUsado}}</tr>
			<tr><strong>Ubicacion actual:&nbsp;&nbsp;</strong>{{piece.ubicacionMuseo}}</tr>
			<tr><strong>Estado de conservacion:&nbsp;&nbsp;</strong>{{piece.conserv}}</tr>
			<tr><strong>Imagen disponible en:&nbsp;&nbsp;</strong>{{piece.imagen}}</tr>
			
		</td>		
	</table>
</div>
<div id="derechaPreview">
VISTA PREVIA DE LA IMAGEN
</div>
</template>
