<template name="signUpForm">
    <h1><strong>¿Quieres ser miembro?</strong>Registrate!</h1>
    <form id="login-form" action="action">
      <center>
        <ul>
            <li class="vertical"><input name="email" id="email" type="email" value="" placeholder="Tu email"/></li>
            <li class="vertical"><input name="name" id="name" type="text" value="" placeholder="Tu nombre de usuario"/></li>
            <li class="vertical"><input name="password" id="password" type="password" value="" placeholder="Tu contraseña"/></li>
            <li class="vertical"><input name="nombre" id="nombre" type="text" value="" placeholder="Tu nombre completo"/></li>
            <li class="vertical"><input name="edad" id="edad" type="text" value="" placeholder="Tu edad"/></li>
            <li class="vertical"><input name="foto" id="foto" type="text" value="" placeholder="Ingresa la URL de tu imagen de perfil"/></li>
            <li class="vertical"><input name="direccion" id="direccion" type="text" value="" placeholder="Tu dirección"/></li>
            <li class="vertical"><input name="profesion" id="profesion" type="text" value="" placeholder="Tu profesion"/></li>
            <li class="vertical"><input name="about" id="about" type="text" value="" placeholder="Cuentanos un poco sobre ti"/></li>
        </ul>
        <input type="submit" id="login-button" value="Sign in" />
    </center>
   </form>
</template>
