<template name="formulario1">
	<h1><strong>¿Quieres ser miembro?</strong>Registrate!</h1>
		<form class="registro">
			<ul>
				<li class="vertical"><input name="datos1" id="datos1" type="text" placeholder="Introduzca nombre del Museo al cual se quiere registrar"/></li>
				<li class="horizon"><input name="datos2" id="datos2" type="text" placeholder="Nombre"/></li>
				<li class="horizon"><input name="datos3" id="datos3" type="text" placeholder="Apellido"/></li>
				<li class="vertical"><input name="datos4" id="datos4" type="text" placeholder="Nombre de Usuario"/></li>
				<li class="vertical"><input name="datos5" id="datos5" type="text" placeholder="Correo electronico"/></li>
				<li class="vertical"><input name="datos6" id="datos6" type="password" placeholder="Contraseña"/></li>
				
			</ul>
	<input id="bregistro" type="submit" value="Resgistrarse"/>
</form>
</template>