<!--
Plantilla privada 
-->
<template name="checkboxForUserRole">
    {{#if ..}}
        <input
            type="checkbox"
            name="userRole"
            value="{{nameC}}"
            id="{{_id}}"
            {{checkIfActive ../_id _id}}
        />
    {{else}}
        <input
            type="checkbox"
            name="userRole"
            value="{{nameC}}"
            id="{{_id}}"
        />
    {{/if}}
    {{nameSpa}}
    <br>
</template>

<!--
Plantilla privada.

Dentro del panel de administración de usuarios
en la ruta /usersModule, este listado de usuarios
se muestra a la derecha de la pantalla.
-->
<template name="usersTable">
	<div id="mostrarUsuarios">
		<h2>GESTIÓN DE USUARIOS</h2>
		
		A continuación podrá filtrar los usuarios y ver la
		lista de usuarios.
		<ul>
			<li>
				Filtro de nombre de usuario:
				<form id="userFilter">
					<input type="text">
					<input type="submit" value="Filtrar por nombre">
				</form>
			</li>
		</ul>
		
		<table border="2">
			<tr id="encabezado">
				<th>Usuario</th>
				<th>Correo</th>
				<th>Perfiles</th>
				<th>Eliminar</th>
			</tr>
			{{#each USER}}
			<tr>
				<td>{{showUserName}}</td>
				<td>{{showUserEmail}}</td>
				<td>
					<form id="selectUserProfiles">					
						{{#each getArrayOfUserProfiles}}
							{{> checkboxForUserRole}}
						{{/each}}
					</form>
				</td>
				<td>
					<form id="deleteUser">
						<input type="submit" name="delete" value="¡Eliminar!" id={{_id}}>
					</form>
				</td>
			</tr>
			{{/each}}
		</table>
	</div>
</template>
