<template name="loginForm">
    <form id="login-form" action="action">
        <ul>
            <li class="horizon"><input name="email" id="email" type="email" value="" placeholder="correo electronico"/></li>
            <li class="horizon"><input name="password" id="password" type="password" value="" placeholder="contraseña"/></li>
        </ul>
        <input type="submit" id="login-button" value="ingresar" />
    </form>
	    <ul>
            <li class="horizon">{{>loginFacebook}}</li>
			<li class="horizon">{{>loginTwitter}}</li>
			<li class="horizon">{{>loginGoogle}}</li>
        </ul>
</template>
