<template name="goToPanelBut">
    <div id="bienvenida">
	    {{#if fBook true}}
        <br>
		<br>
	    <img src="{{fbPic}}" width="100" height="100"/>
		<br>
		<br>
		<br>
	    <strong>Bienvenido</strong>
	    <br>
		<br>
		<strong>{{fbName}}</strong>
		<br>
		<br>
        {{else}}
        {{/if}}
		{{#if usPass true}}
		<br>
		<br>
	    <strong>Bienvenido</strong>
	    <br>
		<br>
		<strong>{{username}}</strong>
		<br>
		<br>
        {{else}}
        {{/if}}
		<strong>Comienza a usar MODIGEM</strong>
		<br>
		<br>
        <button type="submit" style="background-color:#3A3136" class="btn btn-default">Ir a tu panel</button>  
    </div>
</template>