<template name="loginForm">
    <form id="login-form" action="action">
        <ul>
            <li class="horizon"><input name="email" id="email" type="email" value="" placeholder="Correo electrónico"/></li>
            <li class="horizon"><input name="password" id="password" type="password" value="" placeholder="Contraseña"/></li>
        </ul>
        <input type="submit" id="login-button" value="Ingresar" />
    </form>
        <ul>
            <li class="horizon">{{>loginFacebook}}</li>
            <li class="horizon">{{>loginTwitter}}</li>
            <li class="horizon">{{>loginGoogle}}</li>
        </ul>
</template>
